{% extends app['twig_theme'] ~ '/' ~ 'layout.twig' %}
{% import  app['twig_theme'] ~ '/macro/iptw_macro.twig' as main_macro %}

{% set title = ('Users'|trans ~ ': ' ~ 'list of groups STB'|trans) | trans %}


{% block footer_js %}
    
        {{ parent() }}
        {% include app.twig_theme ~ "/basic_templates/scripts-datatables.twig" %}
        {% include app.twig_theme ~ "/basic_templates/scripts-select2.twig" %}

        <script src="{{app.request_context.baseUrl}}/plugins/datatables/extensions/FixedHeader/js/dataTables.fixedHeader.js"></script>
        <link  href="{{app.request_context.baseUrl}}/plugins/datatables/extensions/FixedHeader/css/fixedHeader.dataTables.css" rel="stylesheet">

{% endblock  %}
{% block footer %}

        {{ parent() }}
        <script type="text/javascript" defer>
            {% include (app.twig_theme ~ "/Users/users_consoles_groups/users_consoles_groups.js.twig") %}
        </script>

{% endblock %}


{% block content %}
    <div id="iptv_list">
        <div class="row  filters-actions-pannel">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="{{app.request_context.baseUrl}}/{{app.controller_alias}}/add-console-group" class="btn btn-action pull-right no_context_menu" id="add_console_group"><i class="fa fa-plus"></i>{{ 'Add group'|trans }}</a>
            </div>
        </div>
        <div class="row">
                <div class="box">
					{% if attribute(app, 'dropdownAttribute') is defined %}
                    {{ main_macro.get_dropdown_attribute(app['dropdownAttribute']) }}
                    {% endif %}	
                    <div class="box-content">
                        <div class="box-content no-padding">
                            <div class="">
                                <div class="">
                                    <div class="dataTables_processing"></div>
                                    <table class="table  table-hover table-datatable" id="datatable-1">
                                        {% if attribute(app, 'dropdownAttribute') is defined %}
                                            {{ main_macro.get_datatable_head(app['dropdownAttribute']) }}
                                        {% endif %}
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <script type="text/template" id="modal_group_name_form">
        <div class="box-content">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Title'|trans }}<span class="icon-required">*</span></label>
                    <div class="col-xs-10 col-sm-8">
                        <span class="col-xs-10 col-sm-10">
                            <input id="console_group_id" type="hidden" class="own_fields" name="id" >
                            <input id="console_name" class="own_fields form-control" type="text" name="name" 
                                data-validation = "required, server" 
                                data-validation-url = "{{ app.request_context.baseUrl }}/{{ app.controller_alias }}/check-console-name" >
                            <div class="name-check"></div>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </script>

    <script type="text/template" id="modal_form_buttons">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-success col-sm-2 pull-right">{{ 'Save'|trans }}</button>
            <button type="reset"  class="btn btn-default col-sm-2 pull-right">{{ 'Cancel'|trans }}</button>
        </div>
    </script>

{% if attribute(app, 'reseller') is defined and not app['reseller'] %}
    <script type="text/template" id="modal_change_reseller_form">
        <div class="box-content">
            <form class="form-horizontal" role="form" action="{{ app.request_context.baseUrl }}/{{ app.controller_alias }}/move-user-group-to-reseller">
                <div class="form-group">
                    <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Reseller name'|trans }}</label>
                    <div class="col-xs-10 col-sm-8">
                        <span class="col-xs-12 col-sm-10">
                            <input type="hidden" class="own_fields" name="consolegroupid" value="">
                            <input type="hidden" class="own_fields" name="source_id" value="">
                            <select class="own_fields" name="target_id" id="target_reseller">
                                {% if attribute(app, 'allResellers') is defined %}
                                    {% for row in app.allResellers %}
                                <option value="{{ row.id }}" >{{ row.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </script>
{% endif %}

{% endblock %}